img {
    width:30%;
}

h1 {
    text-align: center;
}



body {
    
    font-family: Roboto, sans-serif;
    height: 100vh;
}
.header, .footer {
    background-color: #1F2937;
    color: white;
    margin-top: 0px;
  
}
.header {
    display: flex;
    flex-direction: column;
    flex:1;
    justify-content: space-between;
}

.text {
    margin-top: 20px;
}
.title {
    display: flex;
    flex-direction: row;
    flex:1;
    justify-content: space-between;
    align-items: center;

}
ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap:10px;
}
.headerbody {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:20px;
    padding:20px;
    gap: 800px;
    
}

.quote {
    background-color: #E5E7EB;
    font-size:36px;
    font-style: italic;
    padding:25px;
}

.midbody {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mid {
    padding: 50px;
}

.info {
    text-align: center;
    width: 500px;
}
button {
    background-color: #3882F6;
    color: white;
    border-radius: 15px;
    width:fit-content;
}

.prefooter {
    background-color: #3882F6;
}

p, .text, .su {
    font-size: 18px;
}
.maintxt {
    display:flex;
    flex-direction: column;
    font-size: 48px;
    font-weight: 900px;;
    
}
.midtxt {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}

.footer {
    text-align: center;
    font-size: 18px;
}

.imground {
    border-radius: 25px;
    border: 5px solid #3882F6;
    width:40%;
}

.qt {
    font-size: 36px;
    font-weight: 100;
    text-align: center;
}
.qter {
    text-align: right;
    font-size:18px;
}

.prefooter {
    border-radius: 15px;
    color: white;
    margin:8px;
    padding: 40px;
    width:700px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.rtext {
    display: flex;
    gap:150px;
    justify-content: center;
    
}

.c2a {
    display:flex;
    flex-direction: column;
    font-size: 24px;
    margin-bottom: 0;
}

.su {
    margin-top: 0;
}